<header class="page-header">
  <div class="page-header_inner">
    <div class="page-header_content row">
      <h1 class="col-md-12">プロフィール変更</h1>
  </div>
</header>
<div class="page-content">
  <div class="bg-light mx-auto comedian-form p-4">
    <%= render 'form' %>
  </div>
</div>