<div class="container">
  <div class="top-content row">
    <div class="content p-0 col-md-12">
      <h1 class="top-title">お笑いライブを映画感覚で訪れる</h1>
      <%= link_to t('view.log_in'), new_user_session_path, role: 'button', class: 'btn btn-raised btn-primary btn-lg' %>
      <%= link_to t('view.new'), new_user_registration_path, role: 'button', class: 'btn btn-raised btn-primary btn-lg' %>
    </div>
  </div>
</div>