<div class="top-content">
  <div class="content">
    <h1 class="top-title">お笑いライブを映画感覚で訪れる</h1>
    <%= link_to t('view.log_in'), new_user_session_path, role: 'button', class: 'btn btn-raised btn-primary btn-lg' %>
    <%= link_to t('view.new'), new_user_registration_path, role: 'button', class: 'btn btn-raised btn-success btn-lg' %>
  </div>
</div>
