<div class="top-image">
  <h1 class="top-title">???????????</h1>
  <%= link_to '????', new_user_session_path, role: 'button',  class: 'btn btn-raised btn-primary btn-lg' %>
  <%= link_to '????', new_user_registration_path, role: 'button', class: 'btn btn-raised btn-success btn-lg' %>
</div>