<div class="top-image">
  <h1 class="top-title">お笑い</h1>
  <%= link_to 'ログイン', new_user_session_path, role: 'button',  class: 'btn btn-raised btn-primary btn-lg' %>
  <%= link_to '新規登録', new_user_registration_path, role: 'button', class: 'btn btn-raised btn-success btn-lg' %>
</div>