/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Bootstrap Sass
@import "bootstrap";
@import "roots";
@import "users";
@import "lives";
@import "comedians";
@import "reset";
@import "favorites";

/* universal */

html,
body {
  height: 100%;
  text-align: center;
}

#wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}

.header {
  width: 100%;
  min-height: 10%;
}

.nav-item,
.dropdown-item {
  color: #FF0000;
}

.header_inner ul a {
  display: block;
  text-decoration: none;
  color: #f5a500;
}

.footer {
  width: 100%;
  background-color: #f9e900;
  color: #337ab7;
  margin: 0px auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.dropdown-item {
  background-color: #eeeeee;
}

.header_nav {
  flex-direction: row-reverse;
}

ul {
  list-style: none;
}

.form-signin,
.form-forgot-password,
.form-change-password {
  max-width: 420px;
  padding: 30px 38px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.form-forgot-password-heading,
.form-change-password-heading {
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

div.alert.alert-notice {
  padding: 0rem 1.25rem;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.page-header {
  padding: 20px 0px;
}

.page-content {
  min-height: 1015px;
  width: 100%;
  background-color: rgb(242, 242, 242);
}

//labelタグ
.date-edit {
  position: relative;
}

//ボックス部分
input[type="date"] {
  text-align: center;
  width: 100px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 50px;
  width: 180px;
}