// Place all the styles related to the comedians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 一覧画面
select#q_genre_cont,
input#q_combination_name_or_comment_cont {
  width: 230px;
  border: 1px solid #000000;
  background-color: #F7F7F7;
}

.card-body p {
  margin-bottom: 0.75rem;
}

// 詳細画面
.comedian-info {
  background-color: #FFFFFF;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .comedian-info {
    width: 100%;
  }
}

.comedian_comment h3 {
  background-color: #E0FFFF;
}

.comedian_comment {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// 編集画面
.comedian-form {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .comedian-form {
    width: 100%;
  }
}