// Place all the styles related to the lives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ライブ一覧
.column {
  width: 60%;
  margin: 0 auto;
  padding: 16px;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1140px) {
  .column {
    width: 100%;
    padding: 0px;
  }
}

.section {
  padding: 16px;
}

.block-filter-main {
  margin: 0 auto;
  background-color: #ffffff;
}

.block-filter_content {
  padding: 16px;
}

.filter-section_header {
  font-size: 13px;
  padding-left: 0px;
  text-align: center;
}

.filter-section_content {
  font-size: 12px;
  text-align: center;
}

.filter-section {
  text-align: left;
}

#q_place_cont {
  width: 50%;
}

.filter-footer {
  border-top: 1px solid #e5e5e5;
}

@media screen and (max-width: 767px) {
  .create {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .input#search_date {
    width: 50%;
  }
}


.from,
.to {
  font-size: 12px;
}

.live_item {
  background-color: #ffffff;
  border: 2px solid #000000;
  margin-bottom: 16px;
  padding: 24px 32px 24px 0;
}

.live-item_inner {
  display: table;
  width: 100%;
}

.live-info_left {
  display: table-cell;
  border-right: 1px solid #d1d1d1;
  vertical-align: middle;
  text-align: center;
  width: 30%;
  font-size: 13px;
}

.live-info_right {
  padding-left: 32px;
}

.live-info_right h3 {
  margin: 0px;
  text-align: left;
  color: blue;
  font-size: 14px;
}

.live-info_right p {
  margin: 0px;
  text-align: left;
  font-size: 13px;
}

.live-item_content p {
  margin: 0px;
  text-align: left;
  font-size: 13px;
}

.live-item-_status {
  text-align: right;
  font-size: 13px;
}

input#search_date {
  border: 1px solid #000000;
  background-color: #F7F7F7;
  text-align: left;
}

select#q_place_cont {
  border: 1px solid #000000;
  background-color: #F7F7F7;
  text-align: left;
  width: 75%;
}

// ライブ詳細
.main-title {
  font-size: 28px;
}

.main-outline {
  font-size: 13px;
}

.live-info {
  width: 60%;
}

// table th {
//   height: 50px;
//   background-color: cornsilk;
// }

// table td {
//   word-wrap: break-word;
//   background-color: white;
// }

// .live-genre {
//   border: 1px solid;
//   background-color: white;
// }

// .live-genre p {
//   margin-bottom: 0px;
// }

.live-form {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .live-form {
    width: 100%;
  }
}

// 編集画面
.live-form {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .live-form {
    width: 100%;
  }
}