// Place all the styles related to the lives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    width: 980px;
    margin: 0 auto;
    /* 追記 */
    min-height: 100%;
    position: relative;
  }