// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.wrapper{
//  max-width: 100%;
//  margin: 0 auto;
//  padding: 0 auto;
//}
//.top-image {
//  background: image-url('central_microphone.png');
//  background-size: cover;
//  background-position:center top;
//  background-repeat: no-repeat;
//  min-height: 100vh;
//}

.top-content{
  background-image: image-url("top-image.png");
  background-size:cover;
  background-position: bottom;
  margin-top: 62px;
  margin-bottom: 57px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.top-title{
  font-size: 4rem;
  margin: 40px;
  position: relative;
}

.content{
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.content h1{
  color:#eeeeee;
}
.navbar-inverse {
  margin: 0px;
}

.navbar {
  margin-bottom: 0px;
}