<p>※本メールは、【OWARAIMOVE】より、お送りしております。</p>

<p><%= @resource.name %>　様</p>

<p>平素は【OWARAIMOVE】をご利用いただき、誠にありがとうございます。</p>

<p>先ほどパスワード再設定を受け付けました。<br>
以下のURLにアクセスするとパスワード再設定画面が表示されます。<br>
パスワードを再設定することで、引き続きご利用いただけます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></>

<p>上記URLのにアクセスお願いします。URLの有効期限は6ヶ月以内です。<br>
有効期限を過ぎますとURLは無効となりますのでご注意ください。</p>

<p>何かご不明点がございましたら、以下までお気軽にお問い合わせください。<br>
Email:info@owaraimove.net</p>